<!doctype html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
</head>
<body>
<div>
    <div class="invoice">
        <div
            {{#if signed}}
            class="invoice-container-signed"
            {{else}}
            class="invoice-container"
            {{/if}}>
            <div class="invoice-header">
                <div class="invoice-client">
                    <p class="client-name">{{ clientData.name }}</p>
                    <p>{{clientData.address}}</p>
                    <p>{{clientData.zip}} {{clientData.city}}</p>
                    <p>{{clientData.country}}</p>
                    <p>{{clientData.pib}}</p>
                </div>
                <div class="invoice-info">
                    <p>Prnjavor, {{#formatDate invoiceData.invoiceDateStart}} {{/formatDate}}</p>
                    <p>Datum izvršene usluge: {{#formatDate invoiceData.invoiceDateReturn}}{{/formatDate}}</p>
                    {{#if invoiceData.accountNumber}}
                    <p>Broj naloga: {{invoiceData.accountNumber}}</p>
                    {{/if}}
                    <p>Autobus:
                        {{#if invoiceData.invoiceVehicle}}
                        {{#getVehiclePlate invoiceData.invoiceVehicle }} {{/getVehiclePlate}}
                        {{/if}}
                    </p>

                    <p>Vozač:
                        {{#if invoiceData.invDriver}}
                        {{#getDriverName invoiceData.invDriver}} {{/getDriverName}}
                        {{/if}}
                    </p>

                    <div class="invoice-number">
                        {{#if invoiceData.invoicePublicId}}
                        <p>Račun br. {{invoiceData.invoicePublicId}}</p>
                        {{/if}}
                    </div>

                </div>
            </div>

            <div class="invoice-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Br.</th>
                        <th>Relacija</th>
                        <th style="text-align: right">Bez PDV-a</th>
                        <th style="text-align: right">PDV %</th>
                        <th style="text-align: right">Sa PDV-om</th>
                        <th style="text-align: right">EUR</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#if invoiceData.invoiceRelations.[0].name}}
                        <tr class="border-bottom-0">
                            <td width="5%">1.</td>
                            <td width="32">{{invoiceData.invoiceRelations.[0].name}}</td>
                            <td width="15%" align="right">
                                {{#priceWithoutTax invoiceData.invoiceRelations 'priceKm' 'priceKmTax' 0 'bam'}} {{/priceWithoutTax}}
                            </td>
                            <td width="15%" align="right">
                                {{#relationDiff invoiceData.invoiceRelations 0 'priceKmTax' 'bam'}} {{/relationDiff}}
                            </td>
                            <td width="18%" align="right">
                                {{#relationDiff invoiceData.invoiceRelations 0 'priceKm' 'bam'}} {{/relationDiff}}
                            </td>
                            <td width="15%" align="right">
                                {{#relationDiff invoiceData.invoiceRelations 0 'priceEuros' 'eur'}} {{/relationDiff}}
                            </td>
                        </tr>
                        {{/if}}
                        {{#if invoiceData.invoiceRelations.[1].name}}
                        <tr class="border-bottom-0">
                            <td width="5%">2.</td>
                            <td width="32">{{invoiceData.invoiceRelations.[1].name}}</td>
                            <td width="15%" align="right"></td>
                            <td width="15%" align="right"></td>
                            <td width="18%" align="right">
                                {{#relationDiff invoiceData.invoiceRelations 1 'priceKm' 'bam'}} {{/relationDiff}}
                            </td>
                            <td width="15%" align="right">
                                {{#relationDiff invoiceData.invoiceRelations 1 'priceEuros' 'eur'}} {{/relationDiff}}
                            </td>
                        </tr>
                        {{/if}}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right" class="border-bottom-dark">UKUPNO ZA PLATITI:</td>
                        <td align="right" class="border-bottom-dark">
                            {{#convertToEUR invoiceData.priceEuros}}{{/convertToEUR}}
                        </td>
                    </tr>
                    <tr class="border-bottom-0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right">Ukupno bez PDV-a:</td>
                        <td align="right">
                            {{#relationsTotalKM invoiceData.invoiceRelations}} {{/relationsTotalKM}}
                        </td>
                    </tr>
                    <tr class="border-bottom-0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right">Obračun PDV-a:</td>
                        <td align="right">
                            {{#relationDiff invoiceData.invoiceRelations 0 'priceKmTax' 'bam'}} {{/relationDiff}}
                        </td>
                    </tr>
                    <tr class="border-bottom-0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right" class="border-bottom-dark">UKUPNO U KM:</td>
                        <td align="right" class="border-bottom-dark">
                            {{#convertToKM invoiceData.priceKm}}{{/convertToKM}}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="invoice-price-in-words">
                SLOVIMA: {{#priceToWords invoiceData.priceEuros 'EUR'}} {{/priceToWords}}
            </div>
            <div>
                <table class="table width-60">
                    <thead>
                        <th>Obračun PDV-a:</th>
                        <th>Osnova:</th>
                        <th>PDV:</th>
                        <th>Vrijednost:</th>
                    </thead>
                    <tbody>
                        <td>Redovna linija - domaći saobraćaj</td>
                        <td>
                            {{#priceWithoutTax invoiceData.invoiceRelations 'priceKm' 'priceKmTax' 0 'bam'}} {{/priceWithoutTax}}
                        </td>
                        <td>
                            {{#relationDiff invoiceData.invoiceRelations 0 'priceKmTax' 'bam'}} {{/relationDiff}}
                        </td>
                        <td>
                            {{#relationDiff invoiceData.invoiceRelations 0 'priceKm' 'bam'}} {{/relationDiff}}
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="invoice-note">
                NAPOMENA: Oslobođeno PDV-a u skladu sa članom 15. stav 2. tačka 2. Zakona o PDV-u i Pravilnika član 21. stav 4.
            </div>
            <div class="invoice-account-and-payment">
                <p>Način plaćanja: Gotovinski</p>

                <br>
                <p>Žiro račun:</p>
                <p>555-007-00222579-74 NOVA BANKA</p>
                <p>194-106-99438001-36 PROCREDIT BANK</p>
                <p>567-463-11000095-31 SBERBANK</p>

            </div>

            <div class="invoice-note">
                <p>NAPOMENA:</p>
                <p>Račun je plativ odmah po prijemu a najkasnije do datuma plaćanja navedenog na našem računu.
                    Za plaćanje poslije roka zaračunavamo zakonom propisanu zateznu kamatu.
                    Za sva pitanja vezana za fakturu nazovite: 00387 65/560-160 .
                </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>