<!doctype html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>

        body {
            margin:0;
            padding:0;
            font-size: 20px;
        }
        /*1414 x 2000*/
        .invoice {
            font-family: 'Play', sans-serif;
            margin: 0;
            /*border: 1px solid #000;*/
            font-size: 24px;
            color: #555;
            width: 1414px;
            height: 2000px;
        }
        .invoice-container {
            position: relative;
            margin: 0;
            width: 100%;
            height: 100%;
            background: url('http://localhost:3000/images/template.png') no-repeat;
            background-size: contain;
            padding: 400px 120px 300px 120px;
        }
        .invoice-header {
            display: flex;
            justify-content: space-between;
        }
        .invoice-header p {
            line-height: 1;
            margin-top: 0;
            font-size: 22px;
            margin-bottom: 10px;
            color: #000;
        }

        .client-name {
            font-size: 28px;
            margin-bottom: 30px !important;
            font-weight: 600;
        }
        .invoice-number p {
            text-align: left;
            font-size: 50px;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 60px;
        }

        .table thead th {
            border-bottom: 1px solid #000;
        }
        .table td, .table th {
            padding: 3px;
            font-size: 20px;
            border-top: 1px solid #000;
        }

        .invoice-price-in-words {
            font-size: 22px;
            margin-top: 40px;
            margin-bottom: 40px;
            word-spacing: 0;
        }
        .border-bottom-dark {
            border-bottom: 1px solid #000;
        }
        .invoice-note {
            font-size: 22px;
            margin-bottom: 40px;
        }
        .invoice-note p {
            margin-bottom: 0px;
            font-size: 22px;
        }
        .invoice-account-and-payment {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .invoice-account-and-payment p {
            font-size: 22px;
            line-height: 1;
            color: #000;
            margin-bottom: 5px;
        }
        .container-full {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        .col-50 {
            width: 50%;
        }
        .international-payment p {
            line-height: 1.2;
            margin: 0;
        }
    </style>
</head>
<body>
<div>
    <div class="invoice">
        <div class="invoice-container">
            <div class="invoice-header">
                <div class="invoice-client">
                    <p class="client-name">{{ clientData.name }}</p>
                    <p>{{clientData.address}}</p>
                    <p>{{clientData.zip}} {{clientData.city}}</p>
                    <p>{{clientData.country}}</p>
                    <p>{{clientData.pib}}</p>
                </div>
                <div class="invoice-info">
                    <p>Prnjavor, {{#formatDate invoiceData.invoiceDateStart}} {{/formatDate}}</p>
                    <p>Datum istovara dobara/usluga: {{#formatDate invoiceData.invoiceDateReturn}}{{/formatDate}}</p>
                    <p>CMR broj: {{#formatStringArray invoiceData.cmr}}{{/formatStringArray}}</p>
                    <p>Vozilo:
                        {{#getVehiclePlate invoiceData.invoiceVehicle }} {{/getVehiclePlate}}
                        /
                        {{#getTrailerName invoiceData.invTrailer}} {{/getTrailerName}}
                    </p>

                    <p>Vozač:
                        {{#getDriverName invoiceData.invDriver}} {{/getDriverName}}
                    </p>

                    <div class="invoice-number">
                        <p>Račun br. {{invoiceData.invoicePublicId}}</p>
                    </div>

                </div>
            </div>

            <div class="invoice-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Br.</th>
                        <th>Naziv dobra/usluge</th>
                        <th>Relacija</th>
                        <th style="text-align: right">Količina</th>
                        <th style="text-align: right">Cijena</th>
                        <th style="text-align: right">Ukupno</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each invoiceData.invoiceRelations}}
                        <tr>
                            <td width="3%">{{inc @index}}</td>
                            <td width="20%">Prevoz robe</td>
                            <td width="34">{{this.name}}</td>
                            <td width="10%" align="right"></td>
                            <td width="20%" align="right">
                                {{#convertToEUR this.priceEur}}{{/convertToEUR}}
                            </td>
                            <td width="13%" align="right">
                                {{#convertToEUR this.priceEur}}{{/convertToEUR}}
                            </td>
                        </tr>
                    {{/each}}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right" class="border-bottom-dark">UKUPNO ZA PLATITI: </td>
                        <td align="right" class="border-bottom-dark">
                            {{#calculateTotalEUR invoiceData.invoiceRelations}}{{/calculateTotalEUR}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="invoice-price-in-words">
                SLOVIMA: {{#priceToWordsEUR invoiceData.invoiceRelations}} {{/priceToWordsEUR}}
            </div>

            <div class="container-full">
                <div class="col-50">
                    <div class="invoice-account-and-payment">
                        <p>Broj naloga: {{invoiceData.accountNumber}}</p>
                        <p>Način plaćanja: Žiralno</p>
                        <p>Valuta plaćanja: {{#deadline invoiceData.invoiceDateStart invoiceData.deadline}} {{/deadline}}</p>
                        <br>
                    </div>
                </div>
                <div class="col-50 international-payment">
                    <p><strong>Instruction for international Payments in EUR currency fro abroad to Bosnia and Herzegovina</strong></p>
                    <p>56: Intermediary institution</p>
                    <p>PRCB DEFF (Procredit Bank AG Frankfurt, Germany)</p>
                    <p>57: Account with Institution</p>
                    <p><strong>MEBBBA22 (Procredit Bank d.d. Sarajevo, Bosnia and Herzegovina)</strong></p>
                    <p>59 Beneficiary Customer</p>
                    <p><strong>IBAN: ВА391941069943801203</strong></p>
                    <p>EXPRESS TRANS DOO</p>
                    <p>KARAĐORĐEVA 19</p>
                    <p>78430 PRNJAVOR</p>
                    <p>BOSNIA AND HERZEGOVINA</p>
                    <p><strong>Kod plaćanja obavezno zaokružite "OUR"</strong></p>
                </div>
            </div>


            <div class="invoice-note">
                <p>NAPOMENA:</p>
                <p>Oslobođeno plaćanja PDV-a na osnovu člana 15. Zakona
                    Račun je plativ odmah po prijemu a najkasnije do datuma plaćanja navedenog na našem računu.
                    Za plaćanje poslije roka zaračunavamo zakonom propisanu zateznu kamatu.
                    Za sva pitanja vezana za fakturu nazovite: 00387 65/560-160.
                </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>